%h1 All users
- @users.each do |u|
	%h4= u.lastname + " " + u.name
	%p= u.email
	
	- if u.admin == true
		Admin: YES
	- else
		Admin: NO
	%p=link_to "Change authority", setting_path(u), method: :post
	
	%p
		- if u.deleted_at != nil
			Deleted:
			= l u.deleted_at, format: "%B %d, %Y at %H:%M"
	%p=link_to "Delete User", setting_path(u), data: { confirm: "Are you sure?" }, method: :delete